{{extend 'layout.html'}}

{{block head}}
<script>
  var profile_url = "{{=URL('default', 'profile')}}";
  var get_auth_user_url = "{{=URL('api', 'get_auth_user')}}";
  var get_users_url = "{{=URL('api', 'get_users')}}";
  var get_enrollments_url = "{{=URL('api', 'get_enrollments')}}";
  var get_courses_url = "{{=URL('api', 'get_courses')}}";
</script>
{{end head}}

{{block header}}
<h1 class="center">Welcome to INDEX</h1>
{{end header}}

{{block main}}
<div id="vue-div" style="display:none">
  <div v-if="is_loaded">
    <div class="form-group" id="send_to">
          <div>
              <input class="form-control string" v-model="search_term" placeholder="Search" type="text" />
              <!-- <span class="help-block"></span> -->
          </div>
          <!-- <input class="btn btn-primary black" id="post_input" type="submit" value="Search" v-on:click="add_message" /> -->
      </div>
      <br>
    <input class="btn btn-primary black" id="post_input" type="submit" value="Search" v-on:click="search"/>
    <h5 v-if="!search_exists && search_toggle">Your search does not exist.</h5>
    <table v-if="search_toggle && search_exists">
              <caption>Currently Enrolled</caption>
              <tbody>
                <tr v-for="user in users_currently_enrolled(search_temp)">
                  <td><a href="#" v-on:click="click_user(user.id); return false;">${user.name}</a></td>
                  <td>${user.quarter}</td>
                  <td>${user.grade}</td>
                  <td><a href="add_message.html">Send Message</a></td>
                </tr>
              </tbody>
              <caption>Past Enrolled</caption>
              <tbody>
                <tr v-for="user in users_past_enrolled(search_temp)">
                  <td><a href="#" v-on:click="click_user(user.id); return false;">${user.name}</a></td>
                  <td>${user.quarter}</td>
                  <td>${user.grade}</td>
                  <td><a href="add_message.html">Send Message</a></td>
                </tr>
              </tbody>
            </table>
    <div v-if="is_transcript_loaded()">
      <h3>Current Courses:</h3>
      <ul>
        <li v-for="enrollment in auth_user_current_enrollments()">
          <span v-on:click="click_course(enrollment.id)"><b>${enrollment.course_name} - ${enrollment.course_description}</b></span>
          <div v-if="clicked_courses.find(is_elem(enrollment.id))">
            <table>
              <caption>Currently Enrolled</caption>
              <tbody>
                <tr v-for="user in users_currently_enrolled(enrollment.course_name)">
                  <td><a href="#" v-on:click="click_user(user.id); return false;">${user.name}</a></td>
                  <td>${user.quarter}</td>
                  <td>${user.grade}</td>
                  <td><a href="add_message.html">Send Message</a></td>
                </tr>
              </tbody>
              <caption>Past Enrolled</caption>
              <tbody>
                <tr v-for="user in users_past_enrolled(enrollment.course_name)">
                  <td><a href="#" v-on:click="click_user(user.id); return false;">${user.name}</a></td>
                  <td>${user.quarter}</td>
                  <td>${user.grade}</td>
                  <td><a href="add_message.html">Send Message</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
    <div v-else>
      <h3>Transcript not found</h3>
      <p><span>Please upload your transcript </span><span><a href="{{=URL('default', 'profile')}}">here</a></span></p>
    </div>
    <br>
    <br>
    <br>
  </div>
</div>
{{end main}}

{{block footer}}
{{end footer}}

{{block js}}
<script src="{{=URL('static', 'js/utils.js')}}"></script>
<script src="{{=URL('static', 'js/index.js')}}"></script>
{{end js}}
