{{extend 'layout.html'}}

{{block head}}
<script>
  var index_url = "{{=URL('default', 'index')}}"
  var my_login_url = "{{=URL('api', 'my_login')}}"
  var my_register_url = "{{=URL('api', 'my_register')}}"
</script>
{{end head}}

{{block header}}
<h1>EZOrg</h1>
{{end header}}

{{block main}}
<div id="vue-div" style="display:none">
  <div v-if="action == 'logging_in'">
    <form id="login_form" action="#" enctype="multipart/form-data" method="post" v-on:submit.prevent="my_login()">
      <input type="text" name="email" placeholder="email" required>
      <input type="password" name="password" placeholder="password" required>
      <button type="submit" id="login_submit_btn">Login</button>
      <br><span><a href="#" >Forgot Your Password?</a></span>
      <br><span>Don't have an account? <a href="#" v-on:click="click_signup(); return false">Sign Up</a></span>
    </form>
  </div>
  <div v-if="action == 'signing_up'">
    <h6>Create an Account</h6>
    <form id="register_form" action="#" enctype="multipart/form-data" method="post" v-on:submit.prevent="my_register()">
      <input type="text" name="first_name" placeholder="first name" required>
      <input type="text" name="last_name" placeholder="last name" required>
      <input type="text" name="email" placeholder="email" required>
      <input type="password" name="password1" placeholder="password" required>
      <input type="password" name="password2" placeholder="confirm password" required>
      <button type="submit" id="signup_submit_btn">Sign Up</button>
      <br><span>Have an account? <a href="#" v-on:click="click_login(); return false">Login</a></span>
    </form>
  </div>
  <div v-if="action != 'logging_in' && action != 'signing_up'">
      <h1>ERROR: invalid action</h1>
  </div>
</div>
{{end main}}

{{block footer}}
{{end footer}}

{{block js}}
<script src="{{=URL('static', 'js/login_register.js')}}"></script>
{{end js}}
