{{extend 'layout.html'}}

{{block head}}
{{end head}}

{{block header}}
<h2>
  {{if(request.args(0) == 'register') :
      =T('Sign Up')
      pass
    elif(request.args(0) == 'login') :
      =T('Log In')
      pass
    else :
      =T(request.args(0).replace('_',' ').title())
      pass
  }}
</h2>
{{end header}}

{{block main}}
<div class="container">
  <div class="row">
    <div id="web2py_user_form" class="col-lg-6">
      {{=form}}
      {{if(request.args(0) == 'login') :}}
      <span>Don't have an account? <a href="{{=URL(args='register')}}">Sign Up</a></span>
      {{pass}}
      {{if(request.args(0) == 'register') :}}
      <span>Already have an account? <a href="{{=URL(args='login')}}">Log In</a></span>
      {{pass}}
    </div>
  </div>
</div>
{{end main}}

{{block footer}}
{{end footer}}

{{block js}}
<script>
    jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
</script>
{{end js}}
