<!DOCTYPE html>
<html class="no-js" lang="{{=T.accepted_language or 'en'}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" 
        content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <meta name="application-name" content="{{=request.application}}">
    <meta name="google-site-verification" content="">

    <link href="{{=URL('static','css/stupid.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/mycss.css')}}" rel="stylesheet" type="text/css"/>

    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <script src="{{=URL('static', 'js/vue.js')}}"></script>
    {{include 'web2py_ajax.html'}}
    {{block head}}
    {{end head}}
  </head>
  <body>
    <header>
      <div class="container middle max900">
        <div class="fill middle">
          <label class="padded fa fa-bars" for="menu"></label>
          {{=MENU(response.menu, _class='menu')}}
          <ul class="menu right">
            <li>
              {{=user_bar()}}
            </li>
          </ul>
        </div>
      </div>
      {{block header}}
      {{end header}}
    </header>
    <main>
      {{include}}
      {{block main}}
      {{end main}}
    </main>
    <footer>
      {{block footer}}
      {{end footer}}
    </footer>
    <script src="{{=URL('static','js/marked.min.js')}}"></script>
    <script src="{{=URL('static','js/vue.min.js')}}"></script>
    <script>
      jQuery('.social a').each(function() {
        var t = jQuery(this); 
        t.attr(
          'href', 
          t.attr('href').replace(
            '{url}', 
            encodeURIComponent(window.location.href)
          )
        );
      });
    </script>
    {{block js}}
    {{end js}}
    {{if response.google_analytics_id:}}
    <script src="{{=URL('static','js/analytics.min.js')}}"></script>
    <script type="text/javascript">
      analytics.initialize({
      'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
      });
    </script>
    {{pass}}
    <script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>
  </body>
</html>
